
:root {
    --form-control-color: rebeccapurple;

}

.my_colors{
    --red: #ee3e38;
    --main: #2e3e73;
    --orange: #fcb232;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--main);
    margin: 0;
}

#root{
    width: 100%;
    height: 100%;
}

.background_image{
    position: fixed;
    top: 0;
    left: 0;
}

.main_orange{
    background: var(--orange);
    color: var(--main);
}

.main_red{
    background: var(--red);
    color: var(--main);
}

.main_blue{
    background: var(--main);
    color: var(--orange);
}

.logo_image{
    height: 100px;
    width: auto;
    position: relative;
}

.taking-visible{
    display: block;
}

.taking-hidden{
    display: none;
}